# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

### Bored set up 

Testing that the bored is set up correctly by checking there are the correct amount of spaces and the correct amount of coins as stated by the constants at the top of the code.

### Test Data Used
I ran the code multiple times to observe the layout.


### Test Result

![example.png](screenshots/example.png)

Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result.

---

### User input

Testing that the user can select a coin and move it.

### Test Data Used

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result.

---
### Win Condition 

Testing that when the gold coin is taken off the bored the game ends and the player who took it off the bored is declared as the winner.

### Test Data Used 

I played through the game multiple times.

### Test Result
![example.png](screenshots/example.png)

---

### Boundries

Testing that a coin can spawn on the right-most space and that coins can be placed into the left-most space on the bored.

### Test Data Used 

I ran the code multiple times to check the spawn locations of the coins.

### Test Result 

![example.png](screenshots/example.png)

---

### Invalid Inputs 
Example test description. Example test description. Example test description. Example test description. Example test description. Example test description.

### Test Data Used 

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data.

### Test Result

![example.png](screenshots/example.png)

---

