# Results of Testing

The test results show the actual outcome of the testing, following the [Test Plan](test-plan.md)

---

## Bored set up 

Example test description. Example test description.Example test description. Example test description.Example test description. Example test description.

### Test Data Used

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result.

---

## User input

Example test description. Example test description.Example test description. Example test description.Example test description. Example test description.

### Test Data Used

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data.

### Test Result

![example.png](screenshots/example.png)

Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result. Comment on test result.

---
## Win Condition 

Example test description. Example test description. Example test description. Example test description. Example test description. Example test description.

### Test Data Used 

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data.

### Test Result
![example.png](screenshots/example.png)

---

## Boundries

Example test description. Example test description. Example test description. Example test description. Example test description. Example test description

### Test Data Used 

Details of test data. Details of test data. Details of test data. Details of test data. Details of test Data. Details of test data. Details of test data.

### Test Result 

![example.png](screenshots/example.png)

---

## Invalid Inputs 
Example test description. Example test description. Example test description. Example test description. Example test description. Example test description.

### Test Data Used 

Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data. Details of test data.

### Test Result

![example.png](screenshots/example.png)

---

